
<div>
    <h2>Produto: {{product.title}}</h2>
    <p>Categoria: {{product.category}}</p>
    <p>Descrição: {{product.body}}</p>
    <p>Preço: R${{product.preco}}</p>
    <a href="/">Voltar</a>
</div>
