<div id="book-page">
  <a href="/books">Voltar</a>
  <div class="container">
    <h1>{{book.title}}</h1>
    <p>Este livro tem {{book.pageqty}} paginas.</p>
    <div class="actions">
      <a href="/books/edit/{{book.id}}" style="background-color: blue; color:white; padding:1px; text-decoration:none; font-size:15px">Editar</a>
      <form action="/books/remove/{{book.id}}" method="post">
      <input type="submit" style="background-color: red; color:white; padding:3px; font-size:15px" value="&#128465; Remover">

      </form>
    </div>
  </div>
</div>