<h1>Ola Handlebars</h1>
<p>O nome do usuario é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos</p>
{{#if auth}}
<p>
  Voce esta logado, <a href="/dashboard">clique aqui</a> para acessar a area de membros
</p>
{{/if}}